#root {
  max-width: 1280px;
  margin: 10px auto;
  padding: 2rem;
  text-align: center;
  background-color: #7d7d7d;
}

.canvas {
  display: inline-block;
  margin-top: 10px;
  border: solid #32a1ce;
}