@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #7d7d7d;
  height: 100vh;
  margin: 0;
}

.canvas {
  border: 1px solid #ddd;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 270px; /* サイドバーの幅を調整 */
  padding: 10px;
  background-color: #f4f4f4;
  position: absolute;
  right: 0; /* 右端に固定 */
  top: 0;
  bottom: 0;
}

.canvas-container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.color_picker {
  margin: 20px 0;
}

.toolbar {
  margin: 20px 0;
}
